<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Project2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>Fabflix.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name> <!-- mandatory -->
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>Fabflix.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StarServlet</servlet-name>
    <servlet-class>Fabflix.StarList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StarServlet</servlet-name>
    <url-pattern>/starList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenreServlet</servlet-name>
    <servlet-class>Fabflix.GenreList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenreServlet</servlet-name>
    <url-pattern>/genreList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleMoviePageServlet</servlet-name>
    <servlet-class>Fabflix.SingleMoviePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleMoviePageServlet</servlet-name>
    <url-pattern>/singleMoviePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleStarPageServlet</servlet-name>
    <servlet-class>Fabflix.SingleStarPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleStarPageServlet</servlet-name>
    <url-pattern>/singleStarPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BrowseServlet</servlet-name>
    <servlet-class>Fabflix.BrowseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseServlet</servlet-name>
    <url-pattern>/browse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>Fabflix.ShoppingCartServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/shoppingCart</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>UpdateShoppingCart</servlet-name>
    <servlet-class>Fabflix.UpdateShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShoppingCart</servlet-name>
    <url-pattern>/updateShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>Fabflix.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RecaptchaServlet</servlet-name>
  	<servlet-class>Fablix.RecaptchaServlet</servlet-class>
  </servlet>

</web-app>